In [ ]:
import os
import sys

sys.path.append(os.path.abspath("../"))

In [4]:
from data_generation.aircraft_data_generator import Aircraft

In [7]:
aircraft = Aircraft(id=1)
aircraft.generate_data(200)
aircraft.to_dataframe()

      engine_rpm   fuel_flow  engine_temperature  vibration_level
0    1970.899706  532.951093          656.009467         1.094848
1    1891.455247  585.327398          640.492687         0.996559
2    1884.187315  523.658318          687.131537         0.788542
3    1950.712763  539.902326          693.405836         0.910066
4    2062.535637  440.121844          732.155068         1.047907
..           ...         ...                 ...              ...
195  1947.148174  469.415666          718.919644         0.980080
196  2022.046863  513.119914          715.883608         0.918019
197  1880.501478  464.384552          691.640500         0.928608
198  2047.913090  480.882004          652.815017         0.823942
199  1799.535203  514.365519          655.195971         0.927046

[200 rows x 4 columns]